{#{% extends 'base.html' %}#}
{#{% load i18n %}#}
{#{% block title %}{% trans "Edit Volume" %}{% endblock %}#}
{##}
{#{% block page_header %}#}
{#  {% include "horizon/common/_page_header.html" with title=_("Edit Volume") %}#}
{#{% endblock page_header %}#}
{##}
{#{% block main %}#}
{#    {% include 'project/shares/_share_network_update.html' %}#}
{#{% endblock %}#}
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Update share network" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Update share network") %}
{% endblock page_header %}

{% block main %}
    {% include 'horizon/common/_workflow.html' %}
{% endblock %}